.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-container {
    background: #000000;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(190, 154, 154, 0.2);
    border: 0.5px solid white;
  }
  
  
  .popup-container h2 {
    margin-bottom: 15px;
    color: white;
  }
  
  .popup-container label {
    display: block;
    margin: 10px 0 5px;
    color: white;
    text-align: left;
  }
  
  .popup-container textarea,
  .popup-container input {
    width: 100%;
    padding: 8px;
    border: 1px solid #555;
    border-radius: 4px;
    background: #333;
    color: white;
  }
  
  .popup-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .submit-button {
    background-color: #212f88;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .submit-button:hover {
    background-color:#394dcf ;
  }
  
  .cancel-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .cancel-button:hover {
    background-color: #c82333;
  }
  